body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: white;
}

header {
    background-color: #1f1f1f;
    padding: 20px;
}

#members {
    margin: 20px;
}

footer {
    margin-top: 20px;
    font-size: 12px;
}
